<table class="table table-hover">
    <tr>
        <td width="320px">
            <video width="320px" height="240px" controls>
                <source src="{{ url_for('watch', title=video.title) }}">
            Your browser does not support this video format.
            </video>
        </td>
        <td>
            <h3>{{ video.title }}</h3>
            <p class="text-muted">{{ video.views }} views</p>
            <a href="{{ url_for('user', username=video.author.username) }}">Author - {{ video.author.username }}</a>
            <br>
            {% if current_user == video.author %}
            <p><a href="{{ url_for('delete_video', title=video.title) }}">Delete</a></p>
            {% endif %}
            <p class="text-muted">{{ video.description }}</p>
        </td>
    </tr>
</table>
